@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: white;
}
body{
	    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}
#navbar{
	   display: flex;
    position: sticky;
    background: #333;
    color: white;
    top: 0px;
    justify-content: space-between;
    
    
    padding: 1rem;
    background-color: rgba(0,0,0,0.8);
}
.text-primary{
	    color: #93cb52;
}
#navbar ul {
  list-style: none;
    align-items: center;
        display: flex;
}
#navbar ul li a{
	    text-decoration: none;
    padding: 19px;
    color: white;
        margin: 0px 6px;
}
#navbar ul li a:hover{
	background-color: #93cb52;
	border-radius: 5px;
}
#showcase{
	background: url(../img/showcase.jpg) no-repeat center center/cover;
	    height: 100vh;
    color: white;
}
#showcase .content{
	text-align: center;
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
#showcase .content p{
	    padding: 27px;
}
.l-heading{
	font-size: 56px;
}
.read{
	    font-size: 22px;
    padding: 8px;
}
.read:hover{
	background-color: #93cb52;
	border-radius: 5px;
	color: black;
}
.m-heading{
	    text-align: center;
    font-size: 34px;
    padding-top: 12px;
        height: 66px;
            background-color:lightgray;
}
.items{
	    display: flex;
    text-align: center;
    padding-top: 31px;
    height: 250px;
        background-color: lightgray;
}
#what{

}
#what i{
	    padding-bottom: 16px;
    background-color: #93cb52;
    border-radius: 50%;
    margin-bottom: 1rem;
    padding: 1rem;
}
#what p{

}
#who{
	    display: flex;
        height: 500px;
}
#who div {
  flex: 1;
  background-color: #303046;
  padding: 36px;
      color: white;
          height: auto;
}
#who .who-img {
  
  background: url('../img/people1.jpg') no-repeat center center/cover;
      height: auto;
}
.p{
  padding: 22px;
}
h3{

}
.list{
	    padding-top: 19px;
    list-style: none;
}
#who ul li{
	margin-top: 9px;
	border-bottom: #444 dotted .5px;
}

#clients .items {
  display: flex;
  background-color: beige;
}

#clients .items img {
      display: flex;
    margin: 30px;
    width: 50%;
}

#contact{
        display: flex;
}
.primary{
  background-color: #93cb52;
    color: white;

}

#contact .map, #contact .contact-form {
  flex: 1;
}
.form-group {
      margin: 1.75rem;
    font-size: 18px;}

.contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}
.m-heading2{
          text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: beige;
        font-size: 36px;
}

#contact p{
      padding-top: 10px;
    /* padding-left: 20px;*/
    text-align: center;
    font-size: 20px;
    color: initial;
}

.m-heading3{
      text-align: center;
    font-size: 33px;
    padding-top: 20px;
}

.read1{
  background-color: #93cb52;
}
